body {
         padding: 55px;
         font-family: Verdana, Geneva, sans-serif;
         font-size: 13px;
         line-height: 16px;
         background-color: #FFEBBC;
         }
         
     header {
             padding: 40px;
             background-color: green;
             -webkit-border-radius: 15px 15px 0 0;
border-radius: 15px 15px 0 0;
-webkit-box-shadow: 3px 3px 3px 5px #D4D4D4;
box-shadow: 3px 3px 3px 5px #D4D4D4;
             }
          
      nav {
           float: left;
           margin-bottom: 30px;
           }
           
      main {
            clear: left;
            padding-left: 60px;
            }
            
      footer {
              background-color: green;
              padding: 40px;
              -webkit-border-radius: 0 0 15px 15px;
border-radius: 0 0 15px 15px;
              }
              
      h1  {
           color: blue;
           font-size: 45px;
           font-family: "times new roman", times, serif;
font-size: 88px;
           }
           
      h2  {
           font-size: 26px;
           margin-top: 14px;
           margin-bottom: 7px;
           font-family: "times new roman", times, serif;
font-size: 20px;
           }
           
       h3  {
            margin-top: 14px;
            font-family: Georgia, "Times New Roman", Times, serif;
            font-size: 19px;
            }
            
         footer p{
                  text-align: center;
                  }
                  
         nav ul li{
                   list-style-type: none;
                   float: left;
                   padding: 20px;
                   margin-right: 20px;
                   background-color: #04C5F4;
                   }
                   
          nav li a{
                   text-decoration: none;
                   color: #F6F2F2;
                   }
                   
           nav li a:hover{
                          color: #24F9FF;
                          }
                          
            .job-title{ 
                       font-weight: bold;
                       padding: 0;
                       margin: 0;
                       }
                       
             .job-place{
                        font-style: italic;
                        padding: 0; 
                        margin: 0;
                        }
                        
              .job-dates{
                         padding: 0;
                         margin: 0;
                         }
                         
                         
         

              header {
                     
                         
                                                                                                                 